body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.flex-container{
    border:3px dashed darkcyan;
    background-color:lightyellow;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flex-item{
    width: 250px;px;
    height: 100PX;
    margin:1rem;
    border:1px solid rgb(0 0 0/ 0.2);
    padding:0.5rem;
    background-color:#bbb;
    color:#333;
}
.item-1{
    min-height: 100px;
}
.item-2{
    min-height: 200px;
}
.item-3{
    min-height: 300px;
}